.barra{
    margin-top: 50px;
    background-color: #182B57;
    height: 5px;
    border: none;
    box-shadow: 2px 2px 5px gray;
}

.info{
    background-color: white;
    display: flex;
    border-bottom: black;
    justify-content: center;
    justify-content: space-between;
}

.cont_footer{
    width: 70%;
    font-size: 12px;
}

.cont_footer ul{
    display: flex;
    list-style-type: none;
    margin-left: 5%;
}

.cont_footer li{
    margin-right: 5%;
}

.cont_footer a{
    color: gray;
}

.cont_footer a:hover{
    color: #182B57;
}

#redes{
    width: 50%;
}

.foot-mn{
    width: 100%;
    background-color: #182B57;
    display: flex;
    align-items: center;
    border-bottom: black;
    color:white;
    justify-content: center;
}

.foot-mn p{
    margin-left: 1%;
}

@media screen and (min-width:1920px) {
    .barra{
        margin-top: 50px;
        height: 5px;
    }
    .info{
        padding: 20px 10% 20px 10%;
    }
    
    .info p, .info h4{
        font-size: 14px;
    }
    .cont_footer{
        width: 100%;
        font-size: 12px;
    }
    img{
        width: 50%;
        height: auto;
    }
    .foot-mn{
        height: 50px;
        font-size: 13px;
    }
}

@media screen and (min-width: 1280px) and (max-width:1919px) {
    .barra{
        margin-top: 50px;
        height: 5px;
    }
    .info{
        font-size: 20px;
        padding: 20px 150px 20px 150px;
    }
    .cont_footer {
        width: 85%;
        font-size: 13px;
    }
    img{
        width: 65%;
        height: auto;
    }
    .foot-mn{
        height: 50px;
        font-size: 13px;
    }
}

@media screen and (min-width: 769px) and (max-width:1279px) {
    .barra{
        margin-top: 50px;
        height: 5px;
    }
    .info{
        font-size: 10px;
        padding: 20px 100px 20px 100px;
    }
    .cont_footer{
        width: 100%;
        font-size: 12px;
    }
    img{
        width: 50%;
        height: auto;
    }
    .foot-mn{
        height: 50px;
        font-size: 12px;
    }
}

@media screen and (min-width: 320px) and (max-width:768px) {
    .barra{
        display: none;
    }
    .info{
        display: none;
    }
    .cont_footer{
        width: 100%;
        font-size: 8px;
    }
    img{
        width: 95%;
        height: auto;
    }
    .foot-mn{
        height: 40px;
        font-size: 10px;
    }
}