.header{
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: black;
    padding-left: 70px;
    padding-right: 70px;
    border-bottom: 3px;
    border-color: black;
    box-shadow: 4px 2px 5px #979191;
    margin-bottom: 50px;
}

#privBar{
    background-color: #182B57;
    color: white;
    border: none;
    margin-bottom: 0;
}

#privBar h2{
    width: 500px;
    text-align: center;
    margin-left: -0.8%;
}

.program{
    font-size: 24px;
}

.imgBar{
    width: 200px;
    text-align: center;
}

.imgA {
    width: 4.5%;
    height: auto;
}

.imgB {
    width: 100%;
    height: auto;
    cursor:pointer;
    margin-top: 5%;
    margin-left: -5%;
}

.dropdown{
    width: 180px;
    margin-top: 110px;
    position: relative;
}

.dropdown-select:hover .dropdown-list{
    opacity: 1;
    visibility: visible;
}

.dropdown-select{
    text-align: right;
    display: block;
}

.dropdown-list{
    color: black;
    margin-top: 30px;
    border: 1px #979191 solid;
    background-color: #E5E5E5;
    border-radius: 5px;
}

.list-object{
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 31px;
    padding:  5px 10px;
    color: black;
    
}

.list-object:hover{
    background-color: #979191;
    color: white;
    border-radius:  5px 5px 0 0;
}


#objtectClose{
    border-top: 1px #979191 solid;
}

#objtectClose:hover{
    border-top: 1px #979191 solid;
    background-color: #BE0416;
    border-radius:  0 0 5px 5px;
}

.list-object p{
    margin-left: 5px;
}