.contMaterias{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 5px;
}

.contMateriasPublicas{
    display: flex;
    justify-content: space-between;
}

.contTotales{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.contMat_priv{
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat_priv{
    width: 280px;
    margin-top: 20px;
    cursor: pointer;
    position:relative;
}


.mat_pub:hover, .mat_priv:hover{
    transform: scale(1.1);
}

.titulo_materia{
    padding: 3% 0 3% 0;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #E7E7E7;
    justify-content: space-between;
    border-radius: 15px  15px 0 0;
    border-bottom: 2px solid black;
}

.titulo_materia div{
    width: 100%;
}

.titulo_materia h4{
    font-size: 11px;
}

.titulo_materia p{
    font-size: 15px;
}

.info_materia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 3%;
    height: 90px;
    border-radius: 0 0 15px 15px;
    margin-bottom: 1.5%;
}

.info_materia p{
    margin-top: 5px;
}

.total_materia{
    padding: 3% 0 3% 0;
    display: flex;
    background-color: #E7E7E7;
}

.total_materia div{
    width: 100%;
}

.contIconComent{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    margin-top: 35%;
    background-color: #DA9C3C;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.iconComent{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 3px white solid;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.mat_pub{
    cursor: pointer;
    position:relative;
}

