.contPlan{
    margin: auto;
    max-width: 1220px;
    text-align: center;
    overflow-x: scroll;
}

.contPlan::-webkit-scrollbar {
    height: 30px;
}

.contPlan::-webkit-scrollbar-track {
    background: #E7E7E7;
    border-radius: 15px;

}

.contPlan::-webkit-scrollbar-thumb {
    background-color: #A9A9A9;
    border-radius: 15px;
}

.contMaterias{
    display: flex;
    justify-content: space-between;
}

.contSemestre{
    width: 280px;
    padding: 1%;
}

.contTotales{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.contMat_priv{
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat_pub, .mat_priv{
    width: 280px;
    margin-top: 20px;
    cursor: pointer;
    position:relative;
}

.mat_pub:hover, .mat_priv:hover{
    transform: scale(1.1);
}

.titulo_materia{
    padding: 3% 0 3% 0;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #E7E7E7;
    justify-content: space-between;
    border-radius: 15px  15px 0 0;
    border-bottom: 2px solid black;
}

.titulo_materia div{
    width: 100%;
}

.titulo_materia h4{
    font-size: 11px;
}

.titulo_materia p{
    font-size: 15px;
}

.info_materia{
    padding: 8% 0 8% 0;
    text-align: center;
    border-radius: 0 0 15px 15px;
    margin-bottom: 1.5%;
}

.total_materia{
    width: 280px;
    height: 37px;
    padding: 3% 0 3% 0;
    display: flex;
    background-color: #E7E7E7;
    border-radius: 15px;
}

.total_materia div{
    width: 100%;
}

.total_materia h3{
    margin-top: 5%;
}

.total_materia h4{
    font-size: 11px;
}

.contIconComent{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    margin-top: 35%;
    background-color: #DA9C3C;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.iconComent{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 3px white solid;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}