.contPanelTab {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 345px;
    margin: 20px auto ;
    border-bottom: 2px solid black;
}

.ttlTabs {
    display: flex;
}

.tabs {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
    padding: 12px;
    background-color: #E5E5E5;
    cursor: pointer;
    border-bottom: 2px solid black;
    box-sizing: content-box;
    position: relative;
    outline: none;
    border-radius: 15px 15px 0 0;
}

.tabs:not(:last-child){
    border-right: 1px solid #979191;
}

.active-tabs  {
    background: #182B57;
    color: white;
    border-bottom: 1px solid transparent;
}

.content {
    padding: 10px;
    width: 100%;
    min-height: 345px;
    display: none;
}

.contMaterias{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 5px;
}

.active-content {
    display: block;
}

.contSumas{
    display: flex;
    justify-content: flex-end;
    margin-top: -6px;
}
.contSumas div{
    margin-left: 30px;
    text-align: right;
}
