.contBtnUsuario{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.formUsuario{
    width: 67%;
    min-height: 525px;
}

.imgFirma{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B3B3B3;
    margin: 20px 0;
    width: 350px;
    height: 170px;
}

.foto{
    margin: 20px 0;
    width: 350px;
    height: 170px;
}

.errorArchivo{
    color: red;
    font-size: 15px;
}