.contAdm{
    width: 83%;
    min-height: 380px;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 3.1%;
}

#unqBtn{
    min-height: 0;
}

.contAdmDoble{
    width: 83%;
    min-height: 380px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 3.1%;
}

.contBread{
    width: 83%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 35px 0 15px;
}

.ttlAdmi{
    margin-top: 35px;
}

.infoAdmi{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}

.barraBusqueda{
    text-align: right;
    margin-top: 10px;
}

.contBoton{
    text-align: right;
}

.textBuscar{
    border-color: #979191;
    padding-left: 10px;
    height: 30px;
    border-radius: 8px;
    width: 230px;
}

.btnBuscar{
    background-color: #182B57;
    justify-content: center;
    color:white;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.btnPlace{
    display: flex;
    justify-content: space-evenly;
}

.dobleBtn{
    display: flex;
    justify-content: space-between;
}

#dobleBtnAjuste{
    margin-top: -15px;
}

.btnDerecha{
    margin: -5px 0 5px 890px;
}

.mnsPlan{
    background-color: #e7e7e767;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    width: 98%;
    height: 30px;
    margin-top: 20px;
}

.ttlComentario{
    margin-bottom: 8px;
}

.btnAprobar {
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido */
    font-size: 20px;
}

.checkboxContainer {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.checkboxContainer input {
    display: none; /* Oculta el checkbox nativo */
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc; /* Borde del checkbox */
    border-radius: 5px;
    cursor: pointer;
}

.checkboxContainer input:checked + .checkmark {
    background-color: #182B57;/* Cambia el color cuando está marcado */
}

.checkboxContainer input:checked + .checkmark::after {
    content: "\2713"; /* Caracter Unicode para el símbolo de marca de verificación */
    color: rgb(255, 255, 255); /* Color del símbolo de marca de verificación */
    font-size: 18px; /* Tamaño del símbolo de marca de verificación */
    font-weight: bold;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}