.contTitulo{
    text-align: center;
}
.contPlan{
    margin: auto;
    height: auto;
    max-width: 83%;
    text-align: center;
    overflow-x: scroll;
}

.contPlan::-webkit-scrollbar-track {
    background: #E7E7E7;
}

.contPlan::-webkit-scrollbar-thumb {
    background-color: #A9A9A9;
}

.contInfo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 84%;
    margin-top: 3%;
}

.contAreas{
    width: 45%;
}

.tblAreas{
    font-size: 20px;
    margin-bottom: 10px;
    border-collapse: separate;
    border-spacing: 15px;
}

.areColor{
    width: 15%;
}

.totales{
    width: 45%;
}

.iconArrow{
    color: #E7E7E7;
    background-color: white;
    cursor: pointer;
    border: none;
}

.iconArrow:hover{
    color: #A9A9A9;
}

.planes{
    display: flex;
}

.imgFirma{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B3B3B3;
}

@media screen and (min-width:1920px) {
    .contTitulo{
        margin-bottom: 25px;
        font-size: 14px;
    }
    .contPlan::-webkit-scrollbar {
        height: 30px;
    }
    .contPlan::-webkit-scrollbar-track {
        border-radius: 15px;
    }
    .contPlan::-webkit-scrollbar-thumb {
        border-radius: 15px;
    }
    .iconArrow{
        font-size: 55px;
        width: 18%;
    }
    .contSemestre{
        width: 30%;
        padding: 1%;
    }
    .mat_pub{
        width: 280px;
        margin-top: 20px;
    }
    .titulo_materia h4{
        font-size: 11px;
    }
    
    .titulo_materia p{
        font-size: 15px;
    }
    .total_materia{
        width: 280px;
        height: 37px;
        border-radius: 15px;
    }
    .total_materia h3{
        margin-top: 5%;
    }
    .total_materia h4{
        font-size: 11px;
    }
    .totales p{
        margin-bottom: 15px;
        font-size: 20px;
    }
    .imgFirma{
        margin: 20px 0;
        width: 350px;
        height: 170px;
    }
    
    .foto{
        margin: 20px 0;
        width: 350px;
        height: 170px;
    }
}

@media screen and (min-width: 1280px) and (max-width:1919px) {
    .contTitulo{
        margin-bottom: 25px;
        font-size: 14px;
    }
    .contPlan::-webkit-scrollbar {
        height: 30px;
    }
    .contPlan::-webkit-scrollbar-track {
        border-radius: 15px;
    }
    .contPlan::-webkit-scrollbar-thumb {
        border-radius: 15px;
    }
    .iconArrow{
        font-size: 55px;
        width: 18%;
    }
    .contSemestre{
        width: 30%;
        padding: 1%;
    }
    .mat_pub{
        width: 280px;
        margin-top: 20px;
    }
    .titulo_materia h4{
        font-size: 11px;
    }
    
    .titulo_materia p{
        font-size: 15px;
    }
    .total_materia{
        width: 280px;
        height: 37px;
        border-radius: 15px;
    }
    .total_materia h3{
        margin-top: 5%;
    }
    
    .total_materia h4{
        font-size: 11px;
    }
    .totales p{
        margin-bottom: 15px;
        font-size: 20px;
    }    
    .imgFirma{
        margin: 20px 0;
        width: 350px;
        height: 170px;
    }
    .foto{
        margin: 20px 0;
        width: 350px;
        height: 170px;
    }
}

@media screen and (min-width: 769px) and (max-width:1279px) {
    .contTitulo{
        margin-bottom: 25px;
        font-size: 13px;
    }
    .contPlan::-webkit-scrollbar {
        height: 30px;
    }
    .contPlan::-webkit-scrollbar-track {
        border-radius: 15px;
    }
    
    .contPlan::-webkit-scrollbar-thumb {
        border-radius: 15px;
    }
    .iconArrow{
        font-size: 45px;
        width: 25%;
    }
    .contSemestre{
        width: 30%;
        padding: 1%;
    }
    .mat_pub{
        width: 188px;
        margin-top: 20px;
    }
    .titulo_materia{
        border-radius: 8px 8px 0 0 ;
    }
    .titulo_materia h4{
        font-size: 10px;
    }
    .titulo_materia p{
        font-size: 14px;
    }
    .info_materia{
        height: 75px;
        border-radius: 0 0 7px 7px;
    }
    .info_materia h3{
        font-size: 15px;
    }
    .info_materia p{
        font-size: 14px;
    }
    .total_materia{
        width: 188px;
        height: 37px;
        border-radius: 8px;
    }
    .total_materia h3{
        margin-top: 12%;
    }
    .total_materia h4{
        font-size: 11px;
        margin-top: 2.5%;
    }
    .totales p{
        margin-bottom: 12px;
        font-size: 20px;
    }
    .imgFirma, .foto{
        margin: 20px 0;
        width: 280px;
        height: 150px;
    }
}

@media screen and (min-width: 413px) and (max-width:768px) {
    .contTitulo{
        margin-bottom: 25px;
        font-size: 10px;
    }
    .contPlan::-webkit-scrollbar {
        height: 18px;
    }
    .contPlan::-webkit-scrollbar-track {
        border-radius: 7px;
    }
    .contPlan::-webkit-scrollbar-thumb {
        border-radius: 7px;
    }
    .iconArrow{
        display: none;
    }
    .contSemestre{
        width: 100%;
        padding: 1%;
    }
    .contSemestre h3{
        font-size: 12px;
    }
    .mat_pub{
        width: 165px;
        margin-top: 10px;
    }
    .titulo_materia{
        border-radius: 7px 7px 0 0 ;
    }
    .titulo_materia h4{
        font-size: 7px;
    }
    .titulo_materia p{
        font-size: 12px;
    }
    .info_materia{
        height: 60px;
        border-radius: 0 0 7px 7px;
    }
    .info_materia h3{
        font-size: 10px;
    }
    .info_materia p{
        font-size: 12px;
    }
    .total_materia{
        width: 165px;
        height: 28px;
        border-radius: 7px;
    }
    .total_materia h3{
        margin-top: 14%;
        font-size: 12px;
    }
    .total_materia h4{
        margin-top: 4%;
        font-size: 8px;
    }
    .total_materia p{
        font-size: 14px;
    }
    .contInfo h3{
        font-size: 13px;
    }
    .tblAreas{
        font-size: 13px;
        border-spacing: 5px;
    }
    .totales p{
        margin-bottom: 8px;
        font-size: 14px;
    }
    .imgFirma, .foto{
        margin: 20px 0;
        width: 140px;
        height: 80px;
    }
    
}

@media screen and (min-width: 320px) and (max-width:412px) {
    .contTitulo{
        margin-bottom: 25px;
        font-size: 10px;
    }
    .contPlan::-webkit-scrollbar {
        height: 18px;
    }
    .contPlan::-webkit-scrollbar-track {
        border-radius: 7px;
    }
    .contPlan::-webkit-scrollbar-thumb {
        border-radius: 7px;
    }
    .iconArrow{
        display: none;
    }
    .contSemestre{
        width: 100%;
        padding: 1%;
    }
    .contSemestre h3{
        font-size: 12px;
    }
    .mat_pub{
        width: 165px;
        margin-top: 10px;
    }
    .titulo_materia{
        border-radius: 7px 7px 0 0 ;
    }
    .titulo_materia h4{
        font-size: 7px;
    }
    .titulo_materia p{
        font-size: 12px;
    }
    .info_materia{
        height: 60px;
        border-radius: 0 0 7px 7px;
    }
    .info_materia h3{
        font-size: 10px;
    }
    .info_materia p{
        font-size: 12px;
    }
    .total_materia{
        width: 165px;
        height: 28px;
        border-radius: 7px;
    }
    .total_materia h3{
        margin-top: 14%;
        font-size: 12px;
    }
    .total_materia h4{
        margin-top: 4%;
        font-size: 8px;
    }
    .total_materia p{
        font-size: 14px;
    }
    #detalles{
        flex-direction: column-reverse;
    }
    .contAreas {
        width: 100%;
    }
    .totales {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .contInfo h3{
        font-size: 13px;
    }
    .tblAreas{
        font-size: 13px;
        border-spacing: 5px;
    }
    .totales p{
        margin-bottom: 8px;
        font-size: 14px;
    }
    .imgFirma, .foto{
        margin: 20px 0;
        width: 140px;
        height: 80px;
    }
    
}