.tabSimple{
    border: 2px solid #182B57;
    border-radius: 20px 20px 0 0 ;
    margin-top: 30px;
}

.tabSimpleTtl{
    background-color: #182B57;
    padding: 1.2% 2.1%;
    border-radius: 15px 15px 0 0 ;
    color: white;
}

.tabSimpleCont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
}

.tabla{
    border: 2px solid #182B57;
    background-color: #182B57;
    border-radius: 15px 15px 0 0 ;
    width: 100%;
    margin:  20px 25px 0 0;
}

.tablaTtl{
    height: 50px;
    color: white;
}

.tabla td{
    text-align: center;
    background-color: white;
    height: 45px;
}

.clmAccion{
    width: 8%;
}

.nombColumn{
    width: 30%;
}

.estadoColumn{
    width: 16%;
}

.iconTable{
    cursor:"pointer";
    font-size: 25px;
    color: #636161;
}

.iconTable:hover{
    color: #e5b266;
}

.tamIcono{
    width: 10%;
}


.tablaMat{
    border-radius: 5px ;
    min-height: 15px;
    width: 47%;
    margin:  2px 0;
    border-collapse: separate;
    border-spacing: 0 5px;
}

.tablaMat td  {
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 10px;
    height: 30px;
}

#eliminarMat{
    background-color:rgba(211, 90, 90, 0.564);
    cursor: pointer;
    text-align: center;
    padding-left: 0;
    width: 12%;
    font-size: 22px;
}