.btn_bg{
    width: 520px;
    height: 170px;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #E5E5E5;
    border-radius: 15px;
    margin-top: 20px;
    cursor: pointer;
}

#txtIcon{
    margin-left: 15px;
}

.btn_bg:hover{
    background-color: #182B57;
    color:white;
    box-shadow: 4px 2px 5px #979191;
}

.btn_mn{
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 40px ;
    width: 180px;
    border: none;
    color: white;
    cursor: pointer;
}

.btn_mn:hover{
    box-shadow: 4px 2px 5px #979191;
}