.header{
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: black;
    padding-left: 70px;
    padding-right: 70px;
    border-bottom: 3px;
    border-color: black;
    box-shadow: 4px 2px 5px #979191;
    margin-bottom: 50px;
}

#privBar{
    background-color: #182B57;
    color: white;
    border: none;
    margin-bottom: 0;
}

.program{
    font-size: 24px;
}

a{
    width: 210px;
    text-align: center;
}

.imgA {
    width: 4.5%;
    height: auto;
}

.imgB {
    width: 110%;
    height: auto;
    cursor:pointer;
    margin-top: 5%;
    margin-left: -5%;
}